.TabsRoot {
  display: flex;
  width: 500px;
}
.TabsRoot .ButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.TabsRoot .TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}
.TabsRoot .TabsContent:focus {
  box-shadow: 0 0 0 2px var(--mauve8);
}
.TabsRoot .TabsList {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.TabsRoot .TabsList h2 {
  margin-bottom: 1rem;
}
@media (max-width: 510px) {
  .TabsRoot .TabsList {
    align-items: center;
  }
}
.TabsRoot fieldset {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.TabsRoot label {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--violet12);
}
.TabsRoot input,
.TabsRoot textarea {
  flex: 1 1 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.75;
  color: var(--violet11);
  box-shadow: 0 0 0 1px var(--shadow--primary--dark);
}
.TabsRoot input:focus,
.TabsRoot textarea:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}
.TabsRoot input {
  height: 2rem;
}
.TabsRoot textarea {
  height: 10rem;
}
.TabsRoot .Button {
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  color: #fff;
  background-color: var(--shadow--secondary--dark);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}
.TabsRoot .Button:hover {
  background-color: #fff;
  color: #ff63ac;
  border: 1px solid #ff63ac;
}
.contactForm {
  margin: 2rem 1rem 0 0;
  width: initial;
  text-align: left;
}
.contactForm h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.contactForm h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.25rem;
  background-color: #ff63ac;
}
@media (min-width: 480px) {
  .contactForm {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .contactForm {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .contactForm {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .contactForm {
    width: 1280px;
  }
}
.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
