.ButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.ButtonWrapper .submitButton {
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  color: var(--base--white);
  background-color: var(--shadow--secondary--dark);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}
.ButtonWrapper .submitButton:hover {
  background-color: var(--base--white);
  color: var(--base--pink);
  border: 1px solid var(--base--pink);
}
@media (max-width: 768px) {
  .ButtonWrapper {
    align-self: center;
  }
}
@media (max-width: 380px) {
  .ButtonWrapper {
    width: 100%;
  }
}
.contactFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.contactFormText {
  font-size: 1rem;
  padding-bottom: 20px;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.contactForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 20px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .contactForm {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .contactForm {
    width: 560px;
  }
}
.formFieldContainer {
  position: relative;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .formFieldContainer {
    align-self: center;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .formFieldContainer {
    width: 560px;
  }
}
.formFieldLabel {
  align-self: flex-start;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--shadow--primary--dark);
  border-bottom: 1px solid var(--shadow--primary--dark);
  pointer-events: none;
  overflow: hidden;
}
.formFieldLabel .formFieldSpan {
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}
.formFieldInput {
  width: 100%;
  color: var(--text--primary--dark);
  font-size: 1rem;
  padding-top: 15px;
  border: none;
  outline: none;
}
.formFieldInput:focus {
  background-color: var(--text--secondary--dark);
}
.formFieldInput:not(:focus):invalid {
  color: var(--background--light);
}
.formFieldTextArea {
  width: 100%;
  height: 100px;
  color: var(--text--primary--dark);
  font-size: 1rem;
  padding-bottom: 70px;
  border: none;
  outline: none;
  resize: none;
}
.formFieldTextArea:focus {
  background-color: var(--text--secondary--dark);
}
.errorMessage {
  color: var(--base--red);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
