.container {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  font-size: 1.875rem;

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    font-weight: 700;
    text-decoration: inherit;
    opacity: 1;

    line-height: 1.5rem;

    a {
      position: absolute;

      cursor: pointer;

      &:hover {
        transition: transform 0.5s;
        transform: scale(1.25);
      }
    }
  }

  @media (min-width: 480px) {
    max-width: 480px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.css_mode {
  cursor: pointer;
}
