.container {
  margin-left: 5rem;
  width: 100%;
  padding-top: 2rem;
  font-size: 1.875rem;
}
.container nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 700;
  text-decoration: inherit;
  opacity: 1;
  line-height: 1.5rem;
}
.container nav a {
  position: absolute;
  cursor: pointer;
}
.container nav a:hover {
  transition: transform 0.5s;
  transform: scale(1.25);
}
@media (max-width: 380px) {
  .container {
    font-size: 1.75rem;
    position: relative;
    left: 1.25rem;
    margin: 0 auto;
  }
}
@media (min-width: 380px) and (max-width: 768px) {
  .container {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    font-size: 2rem;
  }
}
.css_mode {
  cursor: pointer;
}
