.project_wrapper {
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  border-color: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  position: relative;
  z-index: 0;

  overflow: hidden;
}

.project_image {
  position: absolute;
  filter: invert(100%) opacity(12.5%);
  z-index: -1;
}

.project_summary_wrapper {
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    width: 275px;
    height: 275px;
  }

  @media (max-width: 480px) {
    width: 250px;
    height: 250px;
  }
}

.project_title {
  font-size: 1.5rem;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.project_stack {
  margin: 0;
  padding: 5px 5px;
  font-size: 0.9rem;
  color: var(--shadow--primary--dark);
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 0.85rem;
  }

  @media (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.project_button {
  font-weight: 400;

  margin-top: 25px;
  padding: 10px;
  cursor: pointer;
  overflow-y: hidden;

  border-radius: 2px;
  border: 1px solid var(--shadow--primary--dark);
  background: linear-gradient(
    to left,
    var(--shadow--secondary--dark) 0%,
    var(--shadow--secondary--dark) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 0px;
  transition: background-size 0.1s ease-out;

  &:hover {
    background-size: 100% 100%;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.75rem;
  }
}
