.projectsWrapper {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 768px) {
  .projectsWrapper {
    flex-direction: column;
    margin: 1rem;
  }
}
.otherProjectsWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .otherProjectsWrapper {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .otherProjectsWrapper {
    margin-top: 0.5rem;
  }
}
.otherProjects {
  padding: 1rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: var(--shadow--secondary--dark);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  position: absolute;
}
.otherProjects:hover {
  background-color: #fff;
  color: #ff63ac;
  border: 1px solid #ff63ac;
}
@media (max-width: 768px) {
  .otherProjects {
    position: relative;
    top: unset;
    font-size: 1rem;
    padding: 0.8rem;
  }
}
@media (max-width: 480px) {
  .otherProjects {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
