.contactForm {
  margin: 2rem 1rem 0 0;
  width: initial;
  text-align: left;
}
.contactForm h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.contactForm h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.25rem;
  background-color: #ff63ac;
}
@media (min-width: 480px) {
  .contactForm {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .contactForm {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .contactForm {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .contactForm {
    width: 1280px;
  }
}
.main {
  margin: 1rem;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title a {
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (prefers-color-scheme: dark) {
  .card,
  .logo img {
    filter: invert(1);
  }
}
.container {
  background: var(--background--dark);
  color: var(--text--primary--light);
}
