.container {
  background: var(--background--light);
  color: var(--text--primary--dark);
}
@media (max-width: 300px) {
  .container {
    max-width: 300px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title a {
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (prefers-color-scheme: dark) {
  .card,
  .logo img {
    filter: invert(1);
  }
}
