.mainCard {
  margin-top: 3rem;
  position: relative;
}
.mainCard div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
@media (max-width: 768px) {
  .mainCard div {
    flex-direction: column;
  }
}
.mainCard div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.mainCard div h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .mainCard div h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 1rem;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .mainCard div h1 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.mainCard div p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  inline-size: 75%;
}
@media (max-width: 768px) {
  .mainCard div p {
    font-size: 1rem;
    inline-size: 90%;
    margin: 0 1rem;
  }
}
@media (max-width: 480px) {
  .mainCard div p {
    font-size: 0.85rem;
  }
}
.mainCard div .buttonWrapper {
  position: relative;
}
.mainCard div button {
  padding: 1rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: var(--shadow--secondary--dark);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
  position: absolute;
  top: 5px;
}
.mainCard div button:hover {
  background-color: #fff;
  color: #ff63ac;
  border: 1px solid #ff63ac;
}
@media (max-width: 768px) {
  .mainCard div button {
    position: relative;
    top: unset;
    font-size: 1rem;
    padding: 0.8rem;
    margin: 0 1rem;
  }
}
@media (max-width: 480px) {
  .mainCard div button {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
.mainCard .imageCard {
  position: relative !important;
}
.mainCard .imageCard .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
@media (max-width: 768px) {
  .mainCard .imageCard .image {
    width: 60% !important;
    align-self: flex-end;
  }
}
@media (max-width: 768px) {
  .mainCard .imageCard {
    margin: 1rem auto 2rem;
  }
}
@media (min-width: 480px) {
  .mainCard {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .mainCard {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mainCard {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .mainCard {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .mainCard {
    max-width: 1440px;
  }
}
@media (min-width: 1600px) {
  .mainCard {
    max-width: 1600px;
  }
}
